<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipav.system.dao.MsgMapper" >
	<insert id="insertMsg" parameterType="java.util.Map">
		<selectKey  resultType="long"  order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into ipav_msg_record (content,type,send_status,receive,send_type) values (#{content},#{type},#{sendStatus},#{receive},#{sendType})
	</insert>
	
	<select id="getValidateContent" parameterType="java.util.Map" resultType="java.util.Map">
		select id,content,create_time,send_type,status from ipav_msg_record where receive=#{receive} 
		<!-- and status=1  -->
		and send_type=#{sendType} and send_status=#{sendStatus} and type=#{type} 
		<!-- <if test="sendType==1">
			<![CDATA[and timestampdiff(second, now(), create_time)<120]]>
		</if> -->
		order by create_time desc limit 1
	</select>
	
	<update id="updateStatus" parameterType="long">
		update ipav_msg_record set status=0 where id=#{id}
	</update>
</mapper>
