<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipav.system.dao.WorkPlatformMapper" >
	<insert id="addPlatform" parameterType="java.util.Map">
		insert into ipav_workplatform (company_id,platname,remark,update_user) 
		values (#{companyId},#{platName},#{remark},#{updateUser})
	</insert>	
	
	<update id="updatePlatform" parameterType="java.util.Map">
		update ipav_workplatform set platname=#{platName},remark=#{remark},update_user=#{updateUser},update_time=now() where id=#{id}
	</update>
	
	<select id="queryPlatformInfos" parameterType="java.util.Map" resultType="java.util.Map">
		select id,platname,remark from ipav_workplatform where status=1 and company_id=#{companyId}
		<if test="id!=null">
			 and id=#{id}
		</if>
		<if test="page!=null">
			limit ${page},${pageSize}
		</if>
	</select>
	
	<select id="queryPlatformInfosCount" parameterType="java.util.Map" resultType="int">
		select count(1) from ipav_workplatform where status=1 and company_id=#{companyId}
		<if test="platname!=null">
		  and platname =#{platname}
		</if>
		<if test="id !=null and tip==null" >
		  and id !=#{id}
		</if>
		<if test="id !=null and tip!=null" >
		  and id =#{id}
		</if>
	</select>
	
	<update id="updateDelStatus" parameterType="java.util.Map">
		update ipav_workplatform set status=0,update_user=#{updateUser},update_time=now() where id in (
		<foreach collection="ids" item="itemId" separator=",">
			#{itemId}
		</foreach>
		)
	</update>
</mapper>
